<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> Account </title>
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align='center'>
        <header>
		<h1>Welcome {{name}}</h1>
	</header>

    <ul>
        <li>{{name}}</li>
        <li>{{email}}</li>

    </ul> 

	<br><br>
        <a id="mylink" href="./">Logout</a>
    
</body>
</html>